##############################################################################
# This is the top-level .gitignore file for the WRF model                    #
#                                                                            #
# Filenames and wildcards added below will not be tracked by git in any      #
# directory in the repository                                                #
#                                                                            #
# Ignored file types should include executables, build-time temporary files, #
# and other files which should not ever be added to the code repository.     #
#                                                                            #
# USE CAUTION WHEN ADDING WILDCARDS, as some builds use different filename   #
# conventions than others                                                    #
##############################################################################
*.exe
*.o
*.mod
*.a
configure.wrf*
*.backup
*.f90
phys/module_sf_noahmp*
run/MPTABLE.TBL
fseeko*
namelist.input.backup*
phys/module_fr_starfire*
*rsl.out*
*rsl.error*
*slurm*
*wrfout*
*fuels.m*
external/io_grib1/io_grib1.f90
external/io_grib_share/io_grib_share.f90
external/io_int/io_int_idx_tags.h
external/io_int/diffwrf
external/io_netcdf/diffwrf
external/io_int/test_io_idx
frame/md_calls.inc
frame/module_dm.F
frame/module_state_description.F
inc/wrf_io_flags.h
inc/dm_comm_cpp_flags
.gitignore
inc/wrf_status_codes.h
tools/registry
tools/gen_comms.c
test/em_sfire/two_fires/wrfinput_d01
test/em_sfire/two_fires/run_wrf
test/em_sfire/two_fires/namelist.output
Registry/Registry
run/namelist.input
test/em_fire/README.namelist
test/em_real/wind-turbine-1.tbl
test/em_real/README.physics_files
test/em_real/README.namelist
test/em_real/p3_lookupTable_2.dat-2momI_v5.2.3
test/em_real/p3_lookupTable_1.dat-5.3-2momI
test/em_real/p3_lookupTable_1.dat-3momI_v5.1.7
test/em_real/ishmael-qi-qr.bin
test/em_real/ishmael-qi-qc.bin
test/em_real/ishmael-gamma-tab.bin
test/em_real/eclipse_besselian_elements.dat
test/em_real/BROADBAND_CLOUD_GODDARD.bin
Registry/io_boilerplate_temporary.inc
test/em_fire/two_fires/namelist.input
run/input_sounding
test/em_fire/rain/ETAMPNEW_DATA
test/em_fire/rain/GENPARM.TBL
test/em_fire/rain/input_sounding
test/em_fire/rain/LANDUSE.TBL
test/em_fire/rain/namelist.fire
test/em_fire/rain/namelist.input
test/em_fire/rain/RRTMG_LW_DATA
test/em_fire/rain/RRTMG_SW_DATA
test/em_fire/rain/SOILPARM.TBL
test/em_fire/rain/URBPARM.TBL
test/em_fire/rain/VEGPARM.TBL
test/em_fire/two_fires/input_sounding
test/em_fire/two_fires/namelist.fire
